config/configstore
config/BraveSoftware
config/dconf
config/discord
config/GIMP
config/gtk*
config/lpass
config/mimeapps.list
config/pulse
config/spotify-tui
config/spotifyd
config/yarn

config/BetterDiscord/bdstorage.json
config/BetterDiscord/emote_data.json
config/BetterDiscord/logs.log

config/mpd/database
config/mpd/state
config/mpd/sticker.sql
